body {
    background: white;
    font-family: Arial;
    text-align: center;

}

.parallax {
    background-image: url("bck.jpg");
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.para {
    background-image: url("bck2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

.jumbotron{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    
}

.home-card {
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 10%;
    display:inline-block;

}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

.contain {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

a{
    text-decoration: none;
    color:black;

}

a:hover{
    text-decoration: none;
    color:black;

}
