            body {
                background: white;
                font-family: Arial;
                text-align: center;
                margin: 0px;
            }
            
            img{
                display: inline-block;
            }
            
            .navbar {
                overflow: auto;
                background-color: #dedede;
                font-size: 17px;
                width: 100%;
            }
            
            
            .navbar a {
                float: right;
                font-weight:bold;
                color: black;
                padding: 14px 16px;
                text-decoration: none;
            }
            
            .navbar a:hover{
                background-color: #6e6e6e;
            }
            
            
            .center{
                display: block;
                padding-top: 10px;
                
            }
            
            .middle {
                vertical-align: middle;
                
            }
            
         
            .size{
                background-color: #ff7081;
                font-weight: bolder;
                text-transform: uppercase;
                font-size: 30px;
                color:white;
            }
            
            .footer {
                font-size: 10px;
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #e3e3e3;
                text-align: right;
                line-height: 0px;
            }
            
            