body {
    background: white;
    font-family: Arial;
    text-align: center;
    margin: 0px;
}

.navbar .static-bar {
    float: left;
}

.navbar {
    overflow: auto;
    background-color: #dedede;
    font-size: 17px;
    width: 100%;
}


.navbar a {
    float: right;
    font-weight:bold;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #6e6e6e;
}

.small-bio{
    width: auto;
    height: 10%;
    padding:10%;
    background-color: #dedede;
}




