body {
    background: white;
    font-family: Arial;
    text-align: center;
}

.jumbotron{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
}

.home-card {
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 10%;
    display:inline-block;
}
